ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

.footer{
    margin-left: 0;
    margin-right: 0;
}

.principal{
    background-color: #9ac5e8;
    display: block;
}

.secundario{
    background-color: #d3e3f2; 
    height: 40px;
    display: block;
    padding-top: 0.5px;
}

.columna{
    padding-left: 0; 
    padding-right: 0;
}

.contenedor{
    display: block;
    max-width: 120em;
    width: auto;
}

.contenedor-principal{
    margin: 0 auto;
    overflow: hidden;
    padding: 2.5em 0;
    color:white;
}

@media (min-width: 768px){
    .columna, .columna2{
    float: left;
    min-height: 1px;
    padding-left: 0; 
    padding-right: 0;
    text-align: center;
    }

    .columna{
    width: 100%;
    }

    .columna2{
    width: 25%;
    }

    .columna3{
    width: 90%;
    }
}

.titulo-submenu{
    display: inline-block;
    font-weight: 800; 
    margin: auto 0 auto 0.8em; 
    vertical-align: top;
    width: 20%;
}

.submenu{
    width: 100%;
}

.submenu li{
    display: block; 
    font-weight: 400; 
    line-height: 1.4em; 
    margin: 0; 
    width: 100%;
}

.submenu li a{
    text-decoration: none; 
    color: white;
}

.submenu-secundario{
    margin: 0.8em auto; 
    text-align: center; 
    padding: 0;
}

.submenu-secundario li{
    display: inline-block; 
    padding: 0 0.6em;
    list-style: none;
}

.submenu-secundario li a{
    text-decoration: none; 
    color: black;
}
